.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 91px;
    margin-left: 50px;
}

@media screen and (max-width: 992px) {
    .navbar {
        display: none;
    }
}