.footer {
  background: #000;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }

  &__title {
    margin: 16px;
    &-img {
      object-fit: cover;
      padding-right: 5px;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    margin: 16px;
    max-width: 600px;
    width: 100%;
  }

  &__social {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    &__links {
      display: none;
    }
  }
}