.accountSelectButtons {
  width:100%;

  .accountButtons {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 4px solid;
    font-weight: bold;
    font-size: 18px;
    line-height: 35px;
    padding: 0;
    width: 47%;
    opacity: 0.8;
  }
  .buttonsRow{
    display: inline-block;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
  }


  .playerButton {
    border-color: #88B789;
    margin-right: 4%;

  }
  .playerButton.active{
    box-shadow: 0 0 10px  5px #88B789;
  }
  .scoutButton {
    border-color: #b54608;
  }
  .scoutButton.active{
    box-shadow: 0 0 10px  5px #B54608;
  }
  .academiaButton {
    border-color: #B44852;
  }
  .academiaButton.active{
    box-shadow: 0 0 10px  5px #B44852;
  }
  .clubButton {
    border-color: #CEC771;
    margin-right: 4%;
  }
  .clubButton.active{
    box-shadow: 0 0 10px 5px #CEC771;
  }


}

.playerButton.newButt{
  border-color: #837A7A;
  color: #837A7A;
  width: 23%;
}
.agentInput{
  width: 100%;
  color: #837A7A;
  display: inline-block;
  input {
    width: 8%;
    height: auto;
    margin: 0%;
    padding: 0%;
  }
  label{
  }
}

