
.background {
    background: url("../../../static/img/poco-euro-rite-u11-soccer-game-3-960x640-1.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.darkTheme {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.center {
    padding-top: 37vh;
}

.title {
    text-shadow: 5px 5px 8px black;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.text {
    text-shadow: 3px 3px 2px black;
    font-size: 1rem;
    color: white;
}

.button {
    font-weight: bold;
    color: white;
    background-color: #00BFFF;
    border-radius: 50px;
    border: 0 solid black;
    padding: 8px 20px;
    box-shadow: 2px 2px 20px black;
}

.button:hover {
    box-shadow: inset 0 0 12px 1px #FFF;
}

.button:active {
    transform: scale(0.95);
}