.authModalWindow {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modalInner {
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 2px #333;
}

.button,
.button:focus {
    font-weight: bold;
    outline: none;
    color: white;
    background-color: #00BFFF;
    border-radius: 50px;
    border: 0 solid black;
    padding: 8px 20px;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    transform: scale(0.95);
    outline: none;
}